.container {
    display: flex; 
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: 0 auto;
    height: 25em;
    align-self: center;
    padding: 2em;
    border-radius: 0.5em;
    justify-content: space-evenly;
    box-shadow: 2px 2px 10px rgb(153, 152, 152);
}

