.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 75em;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    height: 5em;
}

.navbar h1 {
    color: var(--primary-color);
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: var(--primary-color);
}