@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.update {
    max-width: 75em;
    margin: 0 auto;
    text-align: center;
}

.update h2 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.update_button_update {
    margin-top: 10px;
}
