.update {
    max-width: 75em;
    margin: 0 auto;
    text-align: center;
}

.update h2 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.update_button_update {
    margin-top: 10px;
}