@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}

:root {
  --primary-color: #810808;
  --secondary-color: #b21313;
}

.content {
  max-width: 75em;
  margin: 40px auto;
  padding: 20px;
}

