@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}

:root {
  --primary-color: #810808;
  --secondary-color: #b21313;

  --radius-border-pattern: 15px;
}

button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: ease-in 0.1s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.9;
}

.content {
  max-width: 75em;
  margin: 40px auto;
  padding: 20px;
}


