@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
  border: none;
}

:root {
  --primary-color: #810808;
  --outline-color: #bbb4b4;
  --secondary-color: #b21313;

  --radius-border-pattern: 15px;
  --radius-border-pattern-fields: 5px;
}

button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: ease-in 0.1s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.9;
}

.content {
  max-width: 75em;
  margin: 40px auto;
  padding: 20px;
}

label {
  color: #7c1c1c;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
  text-align: left;
  display: block;
}

input {
  width: 100%;
  border-radius: var(--radius-border-pattern-fields);
  border: 1px solid rgb(207, 207, 201);
  padding: 6px 10px;
  font-size: 16px;

}

input:focus,
select:focus {
  outline-color: var(--outline-color);
}

select {
  width: 100%;
  border-radius: var(--radius-border-pattern-fields);
  border: 1px solid rgb(207, 207, 201);
  padding: 6px 10px;
  display: block;
  font-size: 16px;
}